body {
    color: #161922;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

.breadcrumb-link {
    @apply text-slate-500;
}

.breadcrum-current {
    @apply text-gray-700;
}
