// $theme-colors: (
//     "primary": #064789,
//     "light": #ebf2fa,
//     "secondary": #427aa1,
//     "danger": #d63230,
// );

// Card
$card-border-width: 0;

// Forms
$form-label-font-size: 0.875rem;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules//bootstrap-icons/font/bootstrap-icons.css";

@import "./typography";
@import "./components/components.scss";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.app-layout,
.app-layout-content {
    height: 100%;
}

.app-layout-content {
    background-color: #f0f5ff;

    .app-layout-content-inner {
        padding: 20px;
    }
}

.app-layout-title {
    padding: 10px 15px;
}

.app-layout {
    display: flex;
}

.app-layout-column-1 {
    width: 300px;
    height: 100%;
    background-color: #362e78;
}

.app-layout-column-2 {
    width: 100%;
    border: 1px solid black;
}

.app-layout-sidebar {
    position: relative;
    height: 100%;
}

.auth-page-wrapper {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    width: 100%;
    max-width: 480px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.app-layout.login-page .app-layout-column-1 {
    display: none;
}

.app-header {
    display: flex;
    justify-content: end;
}

.profile-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.profile-card-inline .profile-icon {
    width: 36px;
    height: 36px;
}
