.grid-container {
    .grid-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 1rem;
    }

    .grid-actions {
        display: flex;
        gap: 10px;
    }
}
